TELEGRAM_BOT_TOKEN="Seu token do @BotFather aqui"
REI_DA_PIZZA_API_TOKEN="O token gerado na tela /telegram do sistema Rei da Pizza"
API_BASE_URL="http://localhost:5173" # Mude para a URL de produção do seu sistema se for o caso
